@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	min-height: 100vh;
	.sidebar {
		width: 250px;
		background-image: linear-gradient(
			112.1deg,
			rgba(32, 38, 57, 1) 11.4%,
			rgba(63, 76, 119, 1) 70.2%
		);
		transition: width 0.3s ease;
		white-space: nowrap;
		overflow-x: hidden;
		z-index: 1052;
		.admin_brand {
			padding: 16px 15px 16px 15px;
			border-bottom: 1px solid #888;
		}
		.icon {
			padding-right: 10px;
		}
		.nav-item {
			padding: 4px;
			border-bottom: 1px solid #888;

			.nav-link {
				color: #ccc !important;
			}
			&:hover {
				background-image: radial-gradient(
					circle 610px at 5.2% 51.6%,
					rgba(5, 8, 114, 1) 0%,
					rgba(7, 3, 53, 1) 97.5%
				);
				border-right: 10px solid transparent;
			}
			&.active {
				color: #eee !important;
				background-image: linear-gradient(
					96.5deg,
					rgba(39, 103, 187, 1) 10.4%,
					rgba(16, 72, 144, 1) 87.7%
				);
				border-right: 10px solid transparent;
			}
		}
	}
	&.show_pc {
		.sidebar {
			width: 55px;
			overflow: hidden;
		}
		.icon {
			padding: 0;
		}
		.menu {
			display: none;
			overflow: hidden;
		}
	}
	.content {
		flex: 1;
	}
}

@media (max-width: 768px) {
	.wrapper {
		.sidebar {
			width: 0;
			position: absolute;
			top: 0;
			left: 0;
			min-height: 100vh;
			overflow: hidden;
		}
		&.show {
			display: block;
			.sidebar {
				width: 250px;
			}
		}
	}
}
